

<div class="header" style="width:100%;height:17%;">
  <img class="Logo" src="./Picz/ViolaLogo.png">
  <div class="headerTitle">{{headerTitle}}</div>
  <div class="headerLine" style="width:100%;height:10px;"></div>
</div>  
<div class="sidebarWrapper">
<app-authorised-side-nav-toggler></app-authorised-side-nav-toggler>
<app-authorised-side-nav></app-authorised-side-nav>
</div>


<html>
  <head>
    <style>
      </style>
  </head>
  <body class="body">

  </body>
  </html>



<router-outlet></router-outlet>
<div class="navbar">
  <div class="iconTitle">
<a (click)="navigate('Gärten')" class="active" style="opacity: 1;">Gärten
  <img class="iconNav1" src="./Icons/icons8-autismus-50.png">
</a>
</div>
<div class="iconTitle">
  <a (click)="navigate2('Verwaltung')" class="active" style="opacity: 1;">Termine
    <img class="iconNav2" src="./Icons/icons8-ereignis-angenommen-64.png">
</a>
</div>
<div class="iconTitle">
  <a (click)="navigate3('Beete')" class="active" style="opacity: 1;">News
    <img class="iconNav3" src="./Icons/whatshot_grey-24px 2.svg">
  </a>
</div>
<div class="iconTitle">
  <a (click)="navigate3('Verwaltung')" class="active" style="opacity: 1;">Bestand
    <img class="iconNav4" src="./Icons/list_alt-24px.svg">
  </a>
</div>
<div class="iconTitle">
  <a (click)="navigate4('Verwaltung')" class="active" style="opacity: 1;">Nachrichten
    <img class="iconNav5" src="./Icons/mail.svg">
  </a>
</div>
</div> 


